@font-face {
    font-family: Google sans;
    src: url('../../../../fonts/Product-Sans-Regular.ttf');
}

.email-header-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-top: 1px solid #f1f3f4;
    border-bottom: 1px solid #f1f3f4;
    padding: 7px;
    margin-inline-start: 3px;
}

.email-header-logo {
    font-size: 1.4rem;
    margin-left: 30px;
    margin-right: 126px;
}

.email-header-logo:hover {
    cursor: pointer;
}

.email-header-logo span{  
    font-family: Google sans, sans-serif;
    font-weight: 800;

}
.email-header-logo span:not(:first-child) {   
    margin-left: -4.5px;
}


/* .email-header-logo>*{
    margin: 0;
} */

.email-nav {
    padding: 10px;
    border-radius: 50%;
    color: #5f6368;
    margin-right: 30px;
}

.email-nav:hover {
}

.email-nav:hover {
cursor: pointer;
background-color: #f1f3f4;
    /* -webkit-box-shadow: 0px 0px 4px 2px #F1F3F4;
    box-shadow: 0px 0px 4px 2px #F1F3F4; */
}