@import url('./app-nav.css');
@font-face {
    font-family: Google sans-regular;
    src: url('../../../../fonts/Product-Sans-Regular.ttf');
}

@font-face {
    font-family: Google sans-medium;
    src: url('../../../../fonts/ProductSans-Medium.ttf');
}

.email-header-container {
    display: flex;
    align-items: center;
    border-top: 1px solid #f1f3f4;
    border-bottom: 1px solid #f1f3f4;
    padding: 8px;
    margin-inline-start: 3px;
}

.email-header-logo {
    font-size: 1.4rem;
    margin-left: 22px;
    margin-right: 133px;
}

.email-header-logo:hover {
    cursor: pointer;
}

.email-header-logo span {
    font-family: Google sans, sans-serif;
    font-weight: 800;
}

.email-header-logo span:not(:first-child) {
    margin-left: -4.5px;
}