.app-nav {
    padding: 10px;
    border-radius: 50%;
    color: #5f6368;
    margin-right: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.25rem;
}

/* .svg-container:hover .app-nav {
    background-color: tomato;
} */

.app-nav:hover {}

.app-nav:hover {
    cursor: pointer;
    background-color: #f1f3f4;
    /* -webkit-box-shadow: 0px 0px 4px 2px #F1F3F4;
    box-shadow: 0px 0px 4px 2px #F1F3F4; */
}

.nav-modal {
    background-color: #ffffff;
    height: 400px;
    max-width: 300px;
    position: absolute;
    bottom: -410px;
    left: -235px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0px 0px 9px .5px #B5B5B5;
    /* display: flex; */
    justify-content: space-around;
    padding: 15px;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: flex-start;
    /* gap: 20px */
}

.nav-modal::-webkit-scrollbar {
    /* width: 7.5px; */
    border-radius: 20px;
}

/* Track */

.nav-modal::-webkit-scrollbar-track {
    /* border-radius: 20px; */
    background: #f1f1f1;
    background: #ffffff;
}

.nav-modal::-webkit-scrollbar-track:hover {
    background-color: rgb(228, 228, 228);
}

/* Handle */

.nav-modal::-webkit-scrollbar-thumb {
    /* border-radius: 130px; */
    /* background: #cccccc; */
}

/* Handle on hover */

.nav-modal::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b;
}

.nav-icon img {
    width: 2.1rem;
    height: 2.1rem;
}

.nav-icon {
    padding: 1rem 1.35rem 1rem 1.35rem;
    height: fit-content;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: .875rem;
    margin: 0;
    text-align: center;
}

.nav-icon:hover {
    background-color: rgba(178, 224, 245, 0.849);
}