.note-edit {
    width: 300px;
    min-height: 300px;
    background-color: beige;
    position: absolute;
    padding: 10px;
}
.note-edit input{
    border: none;
    background-color:transparent
}

/* .note-edit form{
    text-align: center;
} */


.note-edit input:focus{
    outline: none;

}