.keep-header{
    display: flex;
    height: 65px;
    border-bottom: 2px solid #DADCE0;
    justify-content: space-between;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

button{
    border: none;
}

