@import url('../cmps/email-header.css');
@import url('../cmps/email-status.scss');
@font-face {
    font-family: roboto;
    src: url('../../../../fonts/Roboto-Regular.ttf');
}

/* icons */

.material-icons {
    color: #767676;
}

/* .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); } */

.email-app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: roboto, sans-serif;
}

.email-filter {
    /* flex-grow: 1; */
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    /* padding: 5px; */
    border-radius: 8px;
    transition: background-color .13s;
}

.email-filter input:focus~.email-filter span:nth-child(1) {
    background-color: #ffffff;
}

.email-filter span:nth-child(1) {
    margin-left: 13px;
    color: #5f6368;
    padding: 8px;
    border-radius: 50%;
}

.email-filter span:nth-child(1):hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.email-filter input {
    font-size: 0.95rem;
    border: 0px;
    color: #070707;
    background-color: #f1f3f4;
    padding: 16px 428px 15px 17px;
    transition: background-color .13s;
    /* transition: box-shadow 3s; */
    /* padding: 15px 230px 15px 20px; */
    /* height: 50px; */
}

.email-filter:focus-within {
    /* background-color: #fff; */
    background-color: #ffffff;
    outline: none;
    box-shadow: inset 0 - 2px black;
    -webkit-box-shadow: 0px 0px 4px 2px #F1F3F4;
    box-shadow: 0px 0px 4px 2px #F1F3F4;
}

/* .email-filter input {
    font-size: 0.9rem;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    color: #070707;
    background-color: #f1f3f4;
    padding: 16px 533px 15px 20px; */

/* } */

.email-filter select:focus {
    background-color: #ffffff;
    outline: none;
}

.email-filter input:focus {
    background-color: #ffffff;
    border: 0px;
    outline: none;
    /* box-shadow: inset 0 - 2px black;
    -webkit-box-shadow: 0px 0px 4px 2px #F1F3F4;
    box-shadow: 0px 0px 4px 2px #F1F3F4; */
}

.email-filter input:focus~select {
    background-color: #ffffff;
}

/* .email-filter select:focus~input {
    background-color: unset;
} */

.email-filter select {
    transition: background-color .13s;
    background-color: #f1f3f4;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    color: #878a8e;
    /* height: 50px; */
    appearance: none;
}

/* .email-filter select:focus { */

/* -webkit-box-shadow: 0px 0px 4px 2px #F1F3F4; */

/* box-shadow: 0px 0px 4px 2px #F1F3F4; */

/* background-color: #fff; */

/* } */

.email-filter select:hover {
    cursor: pointer;
    /* background-color: #e6e6e6; */
    /* padding: 10px; */
}

/* .email-filter select option {   
    border: 0px;
} */

.email-filter select>*:hover {
    cursor: pointer;
}

/* email-compose */

.email-compose {
    flex-grow: 1;
}

.email-compose form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 16px 0 0 0;
}

.email-compose form input {
    width: fit-content;
}

/* email-main */

/* that should be infeatures */

.email-compose-btn {
    /* font isnt accurate yet */
    font-family: Google sans-medium, sans-serif;
    display: flex;
    align-items: center;
    margin-inline-start: 15px;
    border-radius: 24px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    margin: 16px 0 16px 8px;
    padding: 0 0 0 8px;
    height: 48px;
    width: fit-content;
}

.email-compose-btn :nth-child(1) {
    padding: 2px 0 0 3px;
}

.email-compose-btn :nth-child(2) {
    padding-right: 1.5rem;
    color: #3c4043;
    letter-spacing: .45px;
    margin-left: 11px;
    /* line-height: 25px; */
    font-size: .875rem;
    /* text-align: center; */
}

.email-compose-btn:hover {
    cursor: pointer;
    background-color: #fafafb;
    -webkit-box-shadow: 0 1px 3px #c2c2c4;
    box-shadow: 0 4px 8px 1px #c2c2c4;
}

.email-main {
    flex-grow: 1;
    display: flex;
}

/* .email-features-bar {   
   
} */

.email-features>* {
    padding: 3px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 0.875rem;
    color: #636466;
    display: flex;
    align-items: center;
    padding-inline-start: 26px;
    padding-block-end: 5px;
    padding-block-start: 5px;
    /* padding-inline-end: 100px; */
}

.email-features .inbox-span {
    color: #242528;
    font-weight: 1000;
    padding-right: 124px;
    /* padding-right: 144px; */
}

.email-features .inbox-size {
    padding-right: 24px;
}

.email-features>* .material-icons {
    margin-inline-end: 17px;
}

.email-features>*:hover {
    background-color: #f1f3f4;
    cursor: pointer;
}

/* email-preview */

.email-preview {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    /* border-radius: 10px; */
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
}

.email-preview:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px 1px #b1b2b4;
    background-color: #fff;
    /* box-shadow: 0px 1px 2px 1px #DADCE0 */
}

.email-main ul .email-preview:first-child {
    /* box-shadow: 0 -1px 0 0 rgb(100 121 143 / 12%), inset 0 -1px 0 0 rgb(100 121 143 / 12%); */
}

/* .email-preview ul .email-preview:first-child:hover {
    box-shadow: 0px 1px 2px 1px #DADCE0
} */

.email-preview.starred {
    background-color: rgba(242, 245, 245, 0.8);
}

.email-preview>* {
    /* flex-grow: 1; */
    /* ? need to have better solution here ? */
    /* width: 10rem; */
    flex-basis: 10rem;
    display: flex;
    align-items: center;
}

.email-preview>*:not(:nth-child(3)) {
    flex-grow: 1;
}

.email-preview :nth-child(3) {
    flex-grow: 3;
}

.delete-preview-btn {
    opacity: 0;
    transition: opacity .15s;
    padding: 7px;
}

.delete-preview-btn:hover {
    border-radius: 50%;
    color: #ffffff;
    background-color: rgb(46, 45, 45);
}

.email-preview:hover .delete-preview-btn {
    /* background-color: #f1f3f4; */
    /* padding: 7px; */
    /* border-radius: 5px; */
    /* width: 10px; */
    opacity: 1;
}

/* email-list */

.email-main ul {
    flex-grow: 1;
    /* display: flex;
    flex-direction: column; */
}

/* email-details */

.email-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px auto 0 auto;
    max-width: 600px;
    gap: 45px;
}

.email-details .sentby-date {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.email-details .body-container {
    flex-grow: 1;
    width: 100%;
    background-color: #f4f5f9;
    display: flex;
    /* position: relative; */
}

.email-details .body {
    text-align: center;
    display: inline-block;
    background-color: #ffffff;
    width: 80%;
    height: 80%;
    margin: auto;
}

.email-details .details-features {
    display: flex;
}

/* .email-details .details-features>*:hover {
    cursor: pointer;
} */

.icon {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
    padding: 7px;
    border-radius: 50%;
    color: #5f6368;
}

.icon:hover {
    cursor: pointer;
    background-color: #ececec;
    /* background-color: #5f6368; */
}

/* Tooltip text */

.icon .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: rgb(46, 45, 45);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 1s;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: -25px;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */

.icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}